#app-download{
    margin: 50px auto;
}
.app-download-platform{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
}
.app-download-platform img{
    width: max(30vw,120px);
    max-width: 180px;
    transition: 0.5s;
    cursor: pointer;
}
