.header{

    height: 36vw;
    /* margin: 30px auto; */
    background-image: url('../../assets/burgerbanner.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size:max(4.5vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color:#747474;
    font-weight: 500;
    padding: 10px 20px;
    background-color: white;
    font-size:max(1vw,13px);
    border-radius:50px ;
}
@media (max-width:600px) {
    .header-contents h2{
        font-size: 18px;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 7px 15px;
    }
    .navbar {
        padding: 10px 0px;
    }
    .header-contents{
        bottom: 20% !important;
      }
      .nav-link{
             font-size: 16px;
        }

 }

 @media (max-width:900px) {
    .header-contents p{
       margin-bottom: 5px;
       font-size: 12px;
    }
    .header-contents h2{
        margin-bottom: 5px;
     }
 }
 @media (max-width:767.98px){
    .header-contents p{
        margin-bottom: 5px;
        font-size: 10px;
     }
     .header-contents h2{
         margin-bottom: 5px;
         font-size: 25px;
      }
      .header-contents{
        bottom: 20%;
      }
 }
 @media (max-width:700px){
    .header-contents p{
        margin-bottom: 5px;
        font-size: 10px;
     }
     .header-contents h2{
         margin-bottom: 5px;
         font-size: 25px;
      }
      .header-contents{
        bottom: 10%;
      }
      .header-contents button{
        padding: 8px 15px;
      }
 }
 @media (max-width:430px){
    .header-contents h2{
        margin-bottom: 5px;
        font-size: 20px;
     }
     .header-contents{
        bottom: 10%;
      }
      .header-contents button{
        padding: 7px 15px;
      }
 }
 @media (max-width:350px){
    .header-contents button{
        padding: 5px 12px;
      }
      .header-contents h2{
        margin-bottom: 5px;
        font-size: 16px;
     }
 }
